.navbar.navbar-default
	= link_to "Blog", root_url, class: 'navbar-brand'
	%ul{class: "nav navbar-nav"}
		%li= link_to "Posts", posts_path
		- if admin_signed_in?
			%li= link_to "Log out", destroy_admin_session_path, method: :delete
		- else
			%li= link_to "Log in", new_admin_session_path
